* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

main {
  padding: 20px; /* padding  for  main content */
}

footer {
  background-color: #111;
  color: #ffff;
  text-align: center;
  padding: 20px 0; /*padding  for  footer */
  border-top: 200px solid #fff; /* Add a white line at the top of the footer */
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footerNav ul {
  list-style: none;
  display: flex; /*  list items horizontally */
  flex-direction: column; /*  items vertically */
  align-items: flex-end; /*  items to the right */
}

.footerNav li {
  margin: 0 10px; /*  some horizontal margin between list items */
}

